<div ng-show="vm.loadingCnt>0">
    <div class="col-sm-12">
        <uib-progressbar class="progress-striped active" />
    </div>
</div>

<div ng-cloak="">
    <p ng-if="vm.editMode" class="bg-danger" > Achtung. EditMode!</p>
</div>
<form name="form-horizontal" ng-hide="vm.loadingCnt>0" ng-cloak="">

    <div class="form-group">
        <label for="fishSelect" class="control-label">Fisch</label>
        <select id="fishSelect" class="form-control" placeholder="Fisch" ng-model="vm.fishing.fish">
            <option ng-repeat="fish in vm.fishes">{{fish}}</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="lengthInput" class="control-label">Länge</label>
        <input id="lengthInput" class="form-control" placeholder="Länge" type="number" ng-model="vm.fishing.length"/>
    </div>

    <div class="form-group">
        <label for="weightInput" class="control-label">Gewicht</label>
        <input id="weightInput" class="form-control" placeholder="Gewicht" type="number" ng-model="vm.fishing.weight"/>
    </div>

    <div class="form-group">
        <label for="weightInput" class="control-label">Kommentar</label>
        <input id="weightInput" class="form-control" type="text" ng-model="vm.fishing.comment"/>
    </div>

    <div class="row">
        <div class="form-group col-xs-5">
            <label for="timeInput" class="control-label">Uhrzeit</label>
            <input id="timeInput" class="form-control" placeholder="Uhrzeit" type="time" ng-model="vm.fishingTime"/>
        </div>        
    </div>

    <div class="form-group" ng-if="!vm.fishing.id">
        <div class="btn-group">
            <label class="btn btn-default" ng-model="vm.createWeather" uib-btn-radio="true"  uib-uncheckable="uncheckable">Wetter speichern</label>
            <label class="btn btn-default" ng-model="vm.createWeather" uib-btn-radio="false"  uib-uncheckable="uncheckable">wetter nicht speichern</label>        
        </div>
    </div>

    <button type="submit" ng-click="vm.addFishing()" class="btn btn-default" value="save" >Speichern</button>
    <button ui-sref="session({sessionId: vm.sessionId})" class="btn btn-default">Zur Session</button>
    <button ng-click="vm.resetFishing()" ng-if="vm.editMode" class="btn btn-default" value="save" >Abbrechen</button>
</form>

<div ui-view=""></div>