<html>
    <head title="FishingLog">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv='Content-Type' content='text/html;charset=UTF-8' />
        <script src="dist/vendor.min.js"> </script>
        <script src="dist/app.min.js"> </script>
        <link rel="stylesheet" href="dist/style/css/vendor.css"/>
    </head>
    <body ng-app="fishingLog" >
        <div class="container">
            <div ng-controller="FishingController as vm">
            	<div>
	                <p ng-if="vm.editMode" class="bg-danger" > Achtung. EditMode!</p>
            	</div>
                <form name="form-horizontal">
                    <div class="form-group">
                        <label for="fishSelect" class="control-label">Fisch</label>
                        <select id="fishSelect" class="form-control" placeholder="Fisch" ng-model="vm.fishing.fish">
                            <option ng-repeat="fish in vm.fishes">{{fish}}</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="lengthInput" class="control-label">Länge</label>
                        <input id="lengthInput" class="form-control" placeholder="Länge" type="number" ng-model="vm.fishing.length"/>
                    </div>

                    <div class="form-group">
                        <label for="weightInput" class="control-label">Gewicht</label>
                        <input id="weightInput" class="form-control" placeholder="Gewicht" type="number" ng-model="vm.fishing.weight"/>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-5">
                            <label for="timeInput" class="control-label">Uhrzeit</label>
                            <input id="timeInput" class="form-control" placeholder="Uhrzeit" type="time" ng-model="vm.fishingTime"/>
                        </div>
                        <div class="form-group col-xs-6">
                            <label for="dateInput" class="control-label">am</label>
                            <input id="dateInput" class="form-control" placeholder="Datum" type="date" ng-model="vm.fishingDate"/>
                        </div>
                    </div>

                    <button type="submit" ng-click="vm.addFishing()" class="btn btn-default" value="save" >Speichern</button>
                    <button ng-click="vm.resetFishing()" ng-if="vm.editMode" class="btn btn-default" value="save" >Abbrechen</button>
                </form>
            
                <table class="table table-striped table-condensed">
                    <thead>
                        <th>Uhrzeit</th>
                        <th>Fisch</th>
                        <th>Länge</th>
                        <th>Gewicht</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="fishing in vm.fishings">
                            <td>{{fishing.fishingTime}}</td>
                            <td>{{fishing.fish}}</td>
                            <td>{{fishing.length}}</td>
                            <td>{{fishing.weight}}</td>
                            <td>
                                <a ng-click="vm.onEditFishing(fishing)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                <a ng-click="vm.deleteFishing(fishing)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
    </body>
</html>