<div ng-show="vm.loading">
    <div class="col-sm-12">
        <uib-progressbar class="progress-striped active" />
    </div>
</div>
<form name="form-horizontal" ng-hide="vm.loading" ng-cloak="">
    <div class="form-group">
        <label for="dateInput" class="control-label">am</label>
        <input id="dateInput" class="form-control" type="date" ng-model="vm.session.fishDay.day"/>
    </div>

    <div class="form-group">
        <label for="startTimeInput" class="control-label">Startzeit: </label>
        <input id="startTimeInput" class="form-control" type="time" ng-model="vm.session.startTime"/>
    </div>

    <div class="form-group">
        <label for="endTimeInput" class="control-label">Endzeit: </label>
        <div class="input-group">
            <input id="endTimeInput" class="form-control" type="time" ng-model="vm.session.endTime" />
            <div class="input-group-btn" ng-click="vm.setEndTime()">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="commentInput" class="control-label">Anmerkung (Revier, Wetter)</label>
        <input id="commentInput" class="form-control" type="text" ng-model="vm.session.comment"/>
    </div>
    <div class="form-group" ng-if="!vm.session.id">
        <div class="btn-group">
            <label class="btn btn-default" ng-model="vm.createWeather" uib-btn-radio="true"  uib-uncheckable="uncheckable">Wetter speichern</label>
            <label class="btn btn-default" ng-model="vm.createWeather" uib-btn-radio="false"  uib-uncheckable="uncheckable">wetter nicht speichern</label>        
        </div>
    </div>

    <button type="submit" ng-click="vm.saveSession()" class="btn btn-default" value="save">Speichern</button>   
    <button ng-click="vm.goBack()" class="btn btn-default" value="back">Zurück</button>
    <a ui-sref="fishing({ sessionId: vm.session.id })">
        <button ng-show="vm.session.id" class="btn btn-default">Fang hinzufügen</button>
    </a>
    <span ng-show="vm.session.id">
        <button class="btn btn-default" value="delete" ng-click="vm.delete()">Löschen</button>
    </span>
        
</form>

<table class="table table-striped table-condensed" ng-show="vm.session.startWeather">
    <tr  style="font-style: italic">
        <td></td>
        <td>Anmerkung</td>
        <td ng-if="vm.session.comment">{{vm.session.comment}}</td>
        <td ng-hide="vm.session.comment">Keine Anmerkungen vorhanden</td>
    </tr>
    <tr  style="font-style: italic">
        <td><img class="img-responsive" ng-src="http://openweathermap.org/img/w/{{vm.session.startWeather.icon}}.png"/></td>
        <td>Wetter</td>
        <td>{{vm.session.startWeather.description}}</td>
    </tr>
    <tr  style="font-style: italic">
        <td></td>
        <td>Temperatur</td>
        <td>{{vm.session.startWeather.temp}}° C</td>
    </tr>
    <tr  style="font-style: italic">
        <td></td>
        <td>Wind</td>
        <td>{{vm.session.startWeather.windSpeed}} m/s | Richtung {{vm.session.startWeather.direction}}°</td>
    </tr>
    <tr   style="font-style: italic" ng-repeat-end="">
        <td></td>
        <td>Druck</td>
        <td>{{vm.session.startWeather.pressure}} hPa</td>
    </tr>

</table>

<hr/>
<div ui-view=""></div>